nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #282c34;
    gap: 100px;
}

.navRegion {
    display: flex;
    gap: 20px;
}

.navRegion a {
    color: white;
}

nav .appName {
    color: white;
}

.favorite {
    color: white;
}